<server description="defaultServer">
    <!-- tag::features[] -->
    <featureManager>
	    <feature>javaee-8.0</feature>
        <!-- Java EE 8 Web Profile -->
        <!--
        <feature>appSecurity-3.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>el-3.0</feature>
        <feature>jaspic-1.1</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>jpa-2.2</feature>
        <feature>jsf-2.3</feature>
        <feature>jsp-2.3</feature>
        <feature>jsonb-1.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>managedBeans-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>websocket-1.1</feature>
        -->
        <!-- Java EE 8 Full Platform -->
        <!--
        <feature>batch-1.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>ejb-3.2</feature>
        <feature>j2eeManagement-1.1</feature>
        <feature>jacc-1.5</feature>
        <feature>javaMail-1.6</feature>
        <feature>jaxb-2.2</feature>
        <feature>jaxws-2.2</feature>
        <feature>jca-1.7</feature>
        <feature>jms-2.0</feature>
        -->
        <!-- Extended Programming Model -->
        <feature>json-1.0</feature>
        <feature>sessionDatabase-1.0</feature>
    </featureManager>
    <!-- end::features[] -->

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="adminpwd" />
        <user name="tw" password="twpwd" />
    </basicRegistry>

    <applicationManager autoExpand="true" />
    <!--
    <quickStartSecurity userName="admin" userPassword="adminpwd" />
    -->
    <keyStore id="defaultKeyStore" password="mpKeystore" />

    <httpEndpoint
            id="defaultHttpEndpoint"
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"/>

    <variable name="io_openliberty_guides_system_inMaintenance" value="false"/>

    <webApplication location="${packageFile}" contextRoot="/petclinic" />

    <!--
    <httpSessionCache libraryRef="JCacheLib"/>
    <library id="JCacheLib">
        <file name="${shared.resource.dir}/jcache/JCacheProvider.jar"/>
    </library>
    -->

    <!-- Postgres coffee-shop-db definition -->
    <dataSource id="DefaultDataSource"
                jndiName="jdbc/jakartaeePetclinicDC"
                jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true">
        <properties serverName="localhost"
                    portNumber="5432"
                    databaseName="petclinic"
                    user="java"
                    password="javapwd"/>
    </dataSource>

    <jdbcDriver id="postgresql-driver"
                javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                libraryRef="postgresql-library"/>

    <library id="postgresql-library">
        <fileset id="PostgreSQLFileset"
                 dir="${postgresql.jar.dir}"
                 includes="${postgresql.jar.file}"/>
    </library>

</server>
